@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;600;700&family=Poppins:wght@500;600;700&family=Raleway:wght@500&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     
 }
 /* common class */
 .container{
    width: 100%;
    max-width: 1200px;
    padding: 0 6%;
    margin: 0 auto;
}
.section-title{
    text-align: center;
}
 /* heading part  */
 .heading{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 0 20px;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.banner-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
   
}
.header-left{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-top: -150px;
}
.header-left h1{
    font-size: 40px;
}
.header-left p{
    margin-top: 0;
}

 .header-button{
     outline: 0;
     border: 0;
     color: white;
     background-color:#E02C6D;
     font-size: 16px;
     padding: 10px 20px;
     border-radius: 25px;
     cursor: pointer;
     display: inline-block;
     margin-top: 20px;
 }
 .icon{
     margin-left: 5px;
 }
 .header-button:hover .icon{
    
    transform: rotate(360deg);
    transition: transform 1s;
 }
 .header-right{
    margin-left: 50px;
    margin-top: 30px;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    
}
.header-right img{
    max-width: 100%;
    position: relative;
    top: 10px;
    left: 10px;
}
 
 
 }
 /* product part  */
 .section-title{
     text-align: center;
     font-weight: 700;
 }
 .products{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 30px;
 }
 .product{
     margin-top: 50px;
     width: 300px;
     padding: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.9);
    border-radius: 5px;
 }
 .product img{
     width: 100%;
 }
 
 .poroduct-details p{
     margin-top: -10px;
     font-size: 18px;
 }
 .poroduct-details .product-info{
   
     font-size: 12px;
 }
 .product-info .filled{
   color: #FB8200;
 }
 .product-info .empty{
     color: gray;
 }
 .product-info .text{
     text-align: justify;
    color: #787885;
    margin-top: 5px;
    font-size: 18px;
 }
 .section-button{
     text-decoration: none;
     color: #E02C6D;
     float: right;
     margin: 30px;
 }
/* contacr part  */
.contact-section{
    margin-top: 50px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}
.contact-info{
    line-height: 5;
    margin-top: 70px;
    width: 50%;
}

.contact-info .contact-icon{
    font-size: 25px;
    color: #E02C6D;
    margin-right: 10px;
}
.contact-form{
    padding-bottom: 10px;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-filled{
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    font-family: inherit;
    outline: 0;
    border: 1px solid #FF008E;
}
.submit-button{
    outline: 0;
    border: 0;
    font-size: 18px;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #a81267, #FF008E);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* footer part  */
footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
}
.footer-info h3{
    margin-bottom: 0;
    padding-top: 5px;
}
.social-icon a{
 color: white;
 margin: 5px;
 font-size: 18px;
 padding-bottom: 5px;
 display: inline-block;
}
/* resposive part  */
@media only screen and  (max-width:688px) {
    .banner-section, .products, .contact{
        width: 100%;
        max-width: 1200px;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         
    }
    .menu{
        display: none;
    }
    
   
    
}
